:root{
    --green-color: #25A59E;
    --neutral-color: #F2F2F2;
    --light-color: #FFFFFF;
    --orange-color:#EE8F39;
    --dark-color: #262626;
    --light-green-color: #44D5CD;
    --grey-color:#595959;

}
body,p,a,ul,li{
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: var(--light-color);
    overflow-x: hidden;
}
#detail-1{
    color: #25A59E;
}
#detail-2{
    color: #FFFFFF;
}
#detail-3{
    color: #25A59E;
}
#color{
    background-color: #25A59E;

}
.button{
    background-color: none;
    border-radius: 20px;
}
h2{
    font-family: gilda  display;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    line-height: 61.2px;
}
h3{
    font-family: gilda  display;
    font-size: 40px;
    font-weight: 400;
    border: 0.2px;
    line-height: 52px;
    color: #262626;
}
h5{
    font-family: gilda  display;
    font-size: 40px;
    font-weight: 400;
    border: 0.2px;
    line-height: 52px;
    color: #262626;
    text-align: center;

}
h6{
    font-family: gilda  display;
    font-size: 28px;
    font-weight: 400;
    border: 0.4px;
    line-height: 40px;
    color: #262626;
}
h4{
    font-family: urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #262626;
}
p{
    font-family: urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #595959;
}
a{
    font-family: urbanist;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #595959;
}
h1{
    font-family: gilda  display;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.83px;
    color: #25A59E;
    width: 52px;
    height: 19px;
    border: 0.7px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.site-nav{
    margin: 0 20px;
    padding: 16px 20px 16px 20px;
    justify-content: space-between;
}
.site-nav h1{
grid-column: 1/5;
color: #25A59E;
}
.time{
    font-family: SF Pro text;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #000000;
    float: inline-start;
}
.top-icon{
    display: inline-block;
    color: #262626;
    justify-content: flex-end;
}
.refresh{
    justify-content: right;
    color:#737FA0;
}
.lock{
    color: #1D3066;
    display: inline-block;
}
#lock{
    color: #1D3066;
    font-family: urbanist;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
width: 356px;
height: 34px;
border-radius: 10px;
justify-content: center;



}
.hidden{
    display:none ;
}


#home{
    padding-left: 24px;
    padding-right: 24px;
}
.home-text{
    grid-column: 1/5;
    text-wrap: wrap;
}
.home-img{
    grid-row:2;
    grid-column: 1/6;
    background: url(images/Ellipse\ 168.png), url(images/Blurry.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 24px;
    width: fit-content;

}
.destination a{
    grid-column: 1/7;
    margin: 20px 0;
    gap: 8px;

}
.destination a * {
    margin: 0 20px;
    align-self: center;
}
.img{
    background-image: url(images/Shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 24px;
    width: 270px;

}
.guide li{
    grid-column: 1/7;
    margin: 20px 0;
    gap: 28px;
    
}
.guide li*{
    margin: 0 20px;
    align-self: center;
}
.guide a{
    align-self: right;
}
#guide .center{
    text-align: center;

}
.video h3{
    text-wrap: wrap;
    margin-block: 20px;
}
.click{
    background-color: #25A59E;
    padding: 16px 32px 16px 32px;
    color: #FFFFFF ;
    gap: 10px;
    display:inline-block;
    top: 50%;
    border-radius: 0%;
}

.contact ul{
    align-items: center;
    gap: 42px;
    padding: 0;
}
.contact {
    display: flex;
    justify-content: center;
    gap: 12px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
#contact h3{
    text-wrap: wrap;
}

.footer li{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-wrap:nowrap;
    grid-column: span 1;
}


hr.solid{
    border-top: 1px solid #d9d9d9;
}
#text1{
    color: #ffffff;
    font-family: urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}
#text1 hr.solid{
    border-top: 1px solid #ffffff;
    align-items: center;
}
#text2{
    color: #ffffff;
    font-family: gilda display;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
#text2 hr.solid{
    border-top: 1px solid #ffffff;
    align-items: center;
}
#text3{
    color: #ffffff;
    font-family: urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

