:root{
    --green-color: #25A59E;
    --neutral-color: #F2F2F2;
    --light-color: #FFFFFF;
    --orange-color:#EE8F39;
    --dark-color: #262626;
    --light-green-color: #44D5CD;
    --grey-color:#595959;

}
body,p,a,ul,li{
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: var(--light-color);
    overflow-x: hidden;
}
#detail-1{
    color: #25A59E;
    margin-bottom: 200px;
}
#detail-2{
    color: #FFFFFF;
}
#detail-3{
    color: #25A59E;
}
.more {
    margin-left:260px;
    font-family: 'gilda display';
    font-size:15px ;
    line-height: 23px;
    border: 0.2px;
    font-weight: 400px;
    line-height: 100px;
}
#color{
    background-color: #25A59E;
}
.button{
    background-color: none;
    border-radius: 20px;
}
h2{
    font-family: 'gilda display';
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    line-height: 61.2px;
}
h3{
    font-family: 'gilda display';
    font-size: 40px;
    font-weight: 400;
    border: 0.2px;
    line-height: 52px;
    color: #262626;
    padding-left: 24px;
}
h5{
    font-family: 'gilda display';
    font-size: 40px;
    font-weight: 400;
    border: 0.2px;
    line-height: 52px;
    color: #262626;
    text-align: center;
}
h6{
    font-family: 'gilda display';
    font-size: 28px;
    font-weight: 400;
    border: 0.4px;
    line-height: 40px;
    color: #262626;
    padding-left: 24px;
}
h4{
    font-family: 'urbanist';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #262626;
    margin-left: 20px;
    margin-bottom: -20px;
}
p{
    font-family: 'urbanist';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #595959;
}
a{
    font-family: 'urbanist';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #595959;
}
h1{
    font-family: 'gilda display';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.83px;
    color: #25A59E;
    width: 52px;
    height: 19px;
    border: 0.7px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.site-nav{
    margin: 0 20px;
    padding: 16px 20px 16px 20px;
}
.menu {
    margin-left: 260px;
}
.site-nav h1{
grid-column: 1/5;
color: #25A59E;
}
#home{
    padding-left: 24px;
    padding-right: 24px;
}
.home-text{
    grid-column: 1/8;
}
span{
    color: #25A59E;
}
.home-img{
    grid-row:2;
    grid-column: 1/6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: fit-content;
}
.blurry{
    transform: translateY(-55%);
}
.Ellipse{
    transform: translateY(-199%);
    margin-left: 20px;
}
.banner{
    transform: translateY(-269.5%);
}
.find h3{
    margin-top: -500px;
}
.destination a{
    grid-column: 1/8;
    margin-left:1px;
    gap: 8px;
    border: 1px solid #f2f2f2;
    background-color: #FFFFFF;
    width: 395px;
    margin-bottom: 0px;
    /* height: 395px; */
    /* padding: 16px 16px 32px 16px; */ 
}
.mirror{
    margin-top: 0px;
}
.im{
    transform: rotate(180deg);
    padding:16px 16px 36px 16px ;
    width: 390px;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: -10px;
    margin-right: -10px;
}
.destination a * {
    /* margin: 0 20px; */
    align-self: center;
}
.destination{ 
    background-color: #F2F2F2;
    background: linear-gradient(#FFFFFF 10%,#F2F2F2 90%,); 
    box-shadow : 0px 50px 98px  #F2F2F2 ;
    /* -webkit-box-shadow:0px 20px 30px 33px #F2F2F2 ;
    -moz-box-shadow:0px 20px 30px 33px #F2F2F2 ;  */
} 
.social{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -30px;
}
.inst, .tw, .yt{
    width: 50px;
}
.tw{
    margin-right: 10px; 
}
.img{
    /* background-image: url(images/Shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:10px 10px; */
    margin: 0 24px;
    width: 270px;
}
.Shape{
    margin-left: 50px;
    transform: translateY(73%);
}
.group_Image{
    transform: translateY(-65%);
    margin-left: 20px;
}
/* .text{
    text-align: left;
} */
.guide .listtop{
    border: 4px solid #25A59E; 
    margin-bottom: -28px;
    /* margin-bottom: -21px; */
}
.guide div{
    grid-column: 1/7;
    margin: 20px 0;
    gap: 28px;
    border: 2px solid #f2f2f2;
    /* border-top: 4px solid #25A59E; */
}
.guide p{
    margin: 0 20px;
    margin-top: -50px;
}
.guide a{
    align-self: right;
}
#guide .center{
    text-align: center;
}
.video h3{
    text-align: center;
    margin-block: 20px;
    margin-top: -150px;
}
.video{
    margin: 24px;
}
.play{
    margin: 150px;
    transform: translateY(-450%);
}
.get h3{
    margin-top: -350px;
}
.click{
    background-color: #25A59E;
    padding: 16px 32px 16px 32px;
    color: #FFFFFF ;
    gap: 10px;
    display:inline-block;
    top: 50%;
    border-radius: 0%;
}
/* .contact {
    /* display: flex; */
    /* justify-content: center;
    gap: 12px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto; 
} */
#contact h3{
    text-wrap: wrap;
}
.footer li{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-wrap:nowrap;
    grid-column: span 1;
    margin-left: -10px;
}
.last{
    padding-left: 0px;
    margin: 0;
}
hr.solid{
    border-top: 1px solid #d9d9d9;
}


